<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most smooth) how smoothly did the game run?:
                </div>
                <div class="col-md-4">
                    <select id="smoothness" name="engagement">
                        <option value="">-Choose one-</option>
                        <option value="10">10 - Very smooth</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Awful</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                  Did you pay attention throughout the entire duration of the game?
								</div>
                <div class="col-md-4">
                    <select id="attention" name="difficulty">
                        <option value="">-Choose one-</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
           
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
								  Do you think you counted the crossings correctly?
								</div>
                <div class="col-md-4">
                    <select id="correct" name="difficulty">
                        <option value="">-Choose one-</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
           
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
								  Were you searching for unexpected events while doing the task even though you were not informed to do so?
								</div>
                <div class="col-md-4">
                    <select id="searching" name="difficulty">
                        <option value="">-Choose one-</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
								  Have you participated in a study like this before?
								</div>
                <div class="col-md-4">
                    <select id="before" name="difficulty">
                        <option value="">-Choose one-</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
								  Do you have any additional comments?
								</div>
                <div class="col-md-4">
                  <textarea style="height: 100px; width: 400px;" id="comments"></textarea>
								</div>
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="postSurvey();">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
    <script>
    function postSurvey() {
			var full = true;
      $(":input").not("#next").not("#comments").each(function() {
				if (! $(this).val()) {
					$(this).css("background-color", "red");
					full = false;
				  return;
				}
				var assignment = "jglData.postSurvey." + $(this).attr('id') + '="' + $(this).val() + '"';
        eval(assignment);
			});
			var assignment = "jglData.postSurvey.comments = " + '"' + $("#comments").val().replace(/\n/g, ' ') + '"';
			eval(assignment);
			if (full) {
			  nextPhase();
			} else {
				window.scrollTo(0,0);
			}
		}

		$(":input").not("#next").click(function() {
			$(this).css("background-color", "white");
		});
		</script>

</div>
